*{
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 1150px;
  margin:auto;
  
}
#header {
  width: 25%;  
  height: 100vh;
  position: sticky;
  top: 0;
  float: left;  
}
#header img {
  padding-top: 30px;
}
#header input {
  position: relative;
  top: 30px;
  padding: 10px;
  width: 80%;
  border: 2px solid #edeceb;
  border-radius: 4px;
}
#header ul i {
  color: lightgray;
  position: absolute;
  left: 250px;
  color: gray;
}
#header ul {
  margin-top: 50px;  
}
#header li {
  margin-top: 10px;
  width: 100%;
}
#header a {
  text-decoration: none;
  color: black;  
}
#header a:hover {
  color: #fd7b5e;
}
#header li:first-of-type {
  font-weight: 700;
}
#header li:last-of-type{
  margin-top: 20px;
}
#header img+input+i {
  position: relative;
  top: 32.5px;
  cursor: pointer;
  right: 35px;
  color: gray;
}
#header> a {
  border: 1px solid #fd7b5e;
  top: 150px;
  position: relative;
  padding: 10px 90px;
  color: #fd7b5e;
  font-weight: 700;  
  width: 150px;
}
#header .buton:hover {
  background-color: #fd7b5e;
  color: white;
}
#header > i {
  transform: translateY(200px) translateX(10px);
  color: #d2ceca;
  margin-left: 20px;
  font-size: 30px;
}
#header> i:first-of-type {
  transform: translateX(-200px) translateX(182px);
  position: relative;
  top: 200px; 
}
#header .fa-camera {
  margin-right: 20px;
}
#header .fa-youtube {
  transform: translateX(35px) translateY(200px);
  margin-right: 0;
  color: #d2ceca;
}
#header .fa-youtube:hover {
  color: red;
}
#header .fa-twitter:hover {
  color: rgb(0, 106, 255);
}
#header .fa-camera:hover {
  color: rgb(236, 43, 108);
}
#header .fa-facebook-square:hover {
  color: rgb(13, 13, 86);
}
.fotos {
  width: 73%;
  height: 2380px;
  float: right; 
}
.clearfix {
  display: table;
  clear: both;
  content: '';
}
.fotos >i {
  float: right;
  margin-right: 20px;
  margin-top: 25px;
  font-size: 25px;
  margin-bottom: 0px;
  position: absolute;
  top: 0px;
  right: 220px; 
}
.fotos >i:last-of-type{
  right: 260px;
}
.fotos >i:hover {
  color: #fd7b5e;
}
.fotos ul li {
  display: inline-block;
  margin-right: 20px;
 
}
.fotos ul {
  margin-left: 570px;
  margin-top: 30px; 
  margin-bottom: 20px;
}
.fotos ul .en {
  border: 2px solid #f9f9f9;
  padding: 5px;
}
.fotos ul .en:hover {
  border: 2px solid lightgray;

}
.fotos ul .mdl {
  border: 2px solid #f9f9f9;
  padding: 5px;
}
.fotos ul .mdl:hover {
  border: 2px solid lightgray;
}
.fotos .fa-heart {
  font-size: 25px;
}
.fotos .fa-heart:hover {
  color: #fd7b5e;
}
.fotos .fa-shopping-basket {
  font-size: 25px;
}
.fotos .fa-shopping-basket:hover {
  color: #fd7b5e;
}

.fotos .img img {
  width: 247px;
  height: 280px;
}
.fotos .img .name {
  width: 270px;
  height: 360px;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 3px;
  cursor: pointer;
}
.fotos .img .name a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14px;
  color: black;
  line-height: 40px;
}
.fotos .img .name a:first-of-type:hover {
  color: #fd7b5e;
}
.fotos .img .name a:last-of-type {
  font-weight: 900;
  font-size: 16px;
}

.fotos hr {
  height: 2px;
  margin-top: 10px;
  background-color: gray;
  position: relative;
  top: 10px;
}
.fotos>a {
  font-size: 13px;
  margin-left: 10px;
  color: rgb(172, 170, 170);
  position: relative;
  top: 17px;
}
.fotos>a:hover {
  color: #fd7b5e;
}

.fotos .visa>img {
  width: 35px;
  height: 25px;
  transform: translateX(620px);
}
.fotos .google {
  margin-top: 10px;
  margin-bottom: 20px;
}
.first li {
  display: inline-block;
}
.first {
  margin-top: 20px;
  display: none;
  padding-top: 20px;
}
.first i {
  font-size: 35px;
  color: #fd7b5e;
  margin-left: 45px;
}
.first li:nth-of-type(2) {
  margin-left: 125px;
  transform: translateY(12.5px);
}
.first li:last-of-type {
  margin-left: 80px;
}